.error {
  position: fixed; /* Cambia a position: fixed para que no cubra toda la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-image: url('../../image/error.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999; /* Asegura que esté sobre otros elementos */
}
