.clearFilterContainer {
  border: none;
  padding: 8px; /* Añade un poco de espacio alrededor del botón */
  border-radius: 4px; /* Opcional: agrega bordes redondeados al botón */
}

.clearFilterContainer button {
  background: transparent; /* Establece el fondo del botón como transparente */
  border: none;
  color: white; /* Cambia el color del texto si es necesario */
  cursor: pointer;
}
